<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="styles.css" />

    <title>Aulas de Javascript</title>
  </head>
  <body>
    <main>
      <h1>Convidados</h1>

      <form>
        <input type="text" placeholder="Digite o nome" id="name" />
        <button type="submit" id="btn" class="button">Adicionar</button>
      </form>

      <ul>
        <li id="guest-1" class="guest">
          <span>Rodrigo</span>
        </li>

        <li id="guest-2" class="guest">
          <span>Mayk</span>
        </li>
      </ul>
    </main>

    <script src="scripts.js"></script>
  </body>
</html>
